.main{
max-width:1440px;
margin:auto;

}
body{
	margin: 0px;
}

.bovenstelaag{ 
	background-color:black;
	text-rendering: right;
	width:100%;
	text-align:right;
	height:30px;
}

header{ 
height:100px;
}

.menu{ 
	float:left;
	width:70%;
	background-color:white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;

}

li {
    float: left;
	max-width: 300px;

}

li a {
    display: block;
    color: black;
    text-align: center;
    margin-right:50px;
    text-decoration: none;
	
	width:15%;

    border-color:black;
	border-width:2px;
}

li a:hover {
    background-color: white;
}

.telefoonnummer{
	color:white;
}
div.logo{
	width: 25%;
	float: left;
	margin-left:7%;
}
div.menubar{
	max-width: 70%;
    float: left;
    margin-top: 2.5%;
    margin-left: 20%;
	font-size:20px;
	font-family: "MyriadPro";
}

div.slideshow{
	width:full;
}

div.icoononderslideshow{
    width: 80%;
    height: 240px;
    text-align: center;
    padding-top: 35px;
	margin-right: 10%;
    margin-left: 10%;
	margin-top: 100px;
	font-family:candara;
}

.test{
	padding-left: 2;
	
	max-width:285px;
	float: left;
}
.textineenbalk{

	height: 121px;
	max-width: 1141px;
	margin-left: 10%;
    width: 80%;
    margin-right: 10%;
    background-color: #dadad9;
    line-height: 90px;
    left: 146px;
    float:left;
}

.texten{
	max-width:264px;
	padding:left;
	float:left;
	height:240px;
	margin-left:1%;
	margin-right:2.5%;
	
}
.overservice{
	width: 259px;
	height:172px;
	width:77%;
	margin-left:9%;
	margin-right:10%;
	margin-top:35px;
	font-family: "Candara";
}

.fotobouwplaats{
	max-width:200px;
	float:left;
}
.fotobouwplaatsch{
	height:160px;
	max-width:240px;
	float: left;
	margin-top:30px;
}

.onderstefoto{
	width:100%;
}

.offerteknop{
	float:left;
}

.catalogus{
	background-color:#2D2D2C;
	float:left;
	width:100%;
	
}
.Vindonsop{
	margin-left:10%;
	float: left;
	max-width:100%;
	color:white;
	font-family:candara;
	margin-right:2.5%;
	background-color:#2D2D2C;
	height:318px;
}
.Overons{
	float: left;
	background-color:#2D2D2C;
	max-width:100%;
	color:white;
	font-family:candara;
	margin-left:2.5%;
	height:318px;
	
}
.Snelmenu{
	float: left;
	background-color:#2D2D2C;
	max-width: 300px;
	color:white;
	font-family:candara;
	margin-left:2.5%;
	height:318px;
	
}
.fotogalerij{
	float: left;
	background-color:#2D2D2C;
	max-width:250px;
	color:white;
	font-family:candara;
	margin-left:2.5%;
	height:318px;
	
}
.vraagmetknop{
	font-family:candara;
}

.eersteregel{
 	position: absolute;
    margin-left:5.5em;
    top: 630px;
	color:white;
	font-family:candara;
	font-size: 26px;
}
.tweederegel{
	position: absolute;
    margin-left:5.5em;
    top: 680px;
	color:white;
	font-family:candara;
	font-size: 26px;
} 
.derderegel{
	position: absolute;
    margin-left:5.5em;
    top: 735px;
	color:white;
	font-family:candara;
	font-size: 26px;
}
.eersteregelfotovankamer{
	position: absolute;
	margin-left:15em;
    top: 1500px;
	color:white;
  	font-family: "Candara";
	font-size: 26px;
	color: rgb( 255, 255, 255 );
}
.tweederegelfotovankamer{
	position: absolute;
	margin-left:14em;
    top: 1540px;
	color:white;
	font-family:candara;
	font-size: 26px;
}
.derderegelfotovankamer{
	position: absolute;
    margin-left:22em;
    top: 1580px;
	color:white;
	font-family:candara;
	font-size: 26px;
}
.blauwebalk{
	background-color: #004a87;
	height:50px;
	margin-top:100px;
}
.verbouwingsnaam{
	margin-left:10%;
	font-family:candara;
	font-size: 50px;
	float: left;
    width: 100%;
}
.kortetekstkop{
	margin-left:10%;
	font-family:candara;

}
.categorien{
	margin-left:10%;
	font-family:candara;
}
.categories{
	font-size: 30px;
	
}
.grijzebalkonderaanprojecten{
	background: #f6f6f6;
	height: 100px;
}

.afbeeldingenbovenstelaag{
	position:absolute;
	
	margin-left:70em;	
	margin-right:10px;
	margin-top:-15px;
}
.Onderstelaag{
	background-color:black;
	width:100%;
	height: 30px;
	margin-top: 22%;

}
.afbeeldingenonderstelaag{
	position:absolute;
	margin-left:70em;
	margin-top:10px;
	
}

.Overcharlesgabriel{
	text-align: left;
	font-size: 20px;
	padding-left:10%;
	float:left;
	width:100%
}

.textovercharlesgabriel{
	width:80%;
	padding-left: 10%;
	font-family: cardana;
	font-size: 25px;
}

.kopjeContact{
	font-size: 60px;
	margin-left: 10%;
	font-family: Candara;
}

.invoerengegevens{
	font-family: Candara;
	font-size: 20px;
	margin-left: 55%;
	margin-bottom: 50px;
		
}
.invoervelden{
	height: 20px;
	max-width: 700px;
	margin-top:10px;
	margin-bottom:10px;	
	font-size:20px;
	text-align: 20px left;
	border: 1.5px solid black round;
		
}

.grootsteinvoerveld{
	height: 200px;
	width:500px;
	border:1.5px solid black;
	font-size: 20px;
	text-align:  left;
	font-family: Candara;
}

.contactsubmitknop{
	height: 25px;
	margin-top: 25px;
	width: 200px;
}

.afbeeldingenprojecten{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	
}

.afbeeldingenproject{
	max-width:285px;
	height:200px;
	float:left;
	margin-right:15px;
	margin-left:15px;
	margin-top:10px;
	
}

.tweederijafbeeldingenproject{
	max-width:285px;
	height:200px;
	float:left;
	margin-right:15px;
	margin-left:15px;
	margin-top:10px;
	
}

.icooneninzwartebalk{
	margin-left:5px;
	margin-right:5px;
	float: left;
}
.fotoshoutwerkenknop{
	background-color:#004a87 ;
	height: 25px;
	width: 290px;
	margin-left:1%;
	color: white;
	border:1px black
}

.afbeeldingeninprojecten{
	width: 60%;
	margin-left: 5%;
	margin-right:3%;
	float:left;
}

.afbeeldingenverbouwing{
	height:150px;
	max-width: 186px;
	margin-right: 3%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.textoververbouwing{
	float:left;
	max-width:403px;
	font-family: Candara;
	font-size:20px;
}

.Offerteknop{
	width: 120px;
	height: 30px;
	background-color:#004a87;
	border:1px  black;
	margin-left: 10px;
	margin-right:5px;
	font-family: Candara;
	font-size:20px;
}

.Informatieknop{
	width:120px;
	height:30px;
	border:0.5px black;
	background-color:lightgrey;
	margin-left: 5px;
	margin-right:5px;
	font-family: Candara;
	font-size:20px;
}


  .googlemapsmap {
        height: 300px;
        width: 50%;
		float:left;
       }

	#map{
		float:left;	
		height: 30em;
		width: 40em;
		margin-left: 5%;
		max-width:500px;
	}

	.invoerenenmaps{
		width:100%;
		display:block;
	}

	.item{
		min-width:150px;
		float:left;
		display:inline;
		
	}

	.mySlides {
		display:none;
		height: 100%;
		width: 100%;
		}
	.slideshow2{
		width:1440px;
		height:700px;
	}

	.blauwewoorden{
		color:blue;
	}

@media screen and (max-width: 750px) {
    .slideshow{
		display:none;
	}
	.onderstefoto {
		display:none;
	}
	.textineenbalk{
		display:none;
	}


}

@media screen and (max-width: 1050px) {
	.bouwplaats{
		display:none;
	}
}